.exampleModal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.exampleModal .modal {
  background: transparent !important;
}

.exampleModal .modal-content {
  background-color: #3c8dbc !important;
	-webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 15px !important; 
  border-color: black;
  border-width: 3px;
	border-style: solid;
}

.toast-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}

.toast-modal .modal {
  background: transparent !important;
}

.toast-modal .modal-content {
  background-color: #000 !important;
	-webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 15px !important; 
  border-color: black;
  border-width: 3px;
	border-style: solid;
}

.modal {
	text-align: center;
}

@media screen and (min-width: 768px) { 
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

